<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/deck-of-cards/example/example.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="node_modules/deck-of-cards/dist/deck.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/jPlayer/dist/jplayer/jquery.jplayer.min.js" type="text/javascript"></script>
    <script src="node_modules/reflection.js"></script>
</head>
<body>
    <header>
        <div class="left">
            <img src="static/pigtail.png" alt="error"/>
        </div>
        <div class="right">
            <div class="item">
                <p>先手</p>
                <div>
                    <img class="b_left" src="static/button_left.svg" alt="error"/>
                    <p class="text">1P<p>
                    <img class="b_right" src="static/button_right.svg" alt="error">
                </div>
            </div>
            <div class="item">
                <p>惩罚牌</p>
                <div>
                    <img class="b_left" src="static/button_left.svg" alt="error"/>
                    <p class="text">可以出</p>
                    <img class="b_right" src="static/button_right.svg" alt="error">
                </div>
            </div>
            <div class="item">
                <p>卡牌类型</p>
                <div>
                    <img class="b_left" src="static/button_left.svg" alt="error"/>
                    <p class="text">——</p>
                    <img class="b_right" src="static/button_right.svg" alt="error">
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div id="element">
            <img src="static/pig.svg" class="reflect rheight100 ropacity100" alt="error"/>
        </div>
    </div>
    <div id="container"></div>
    <footer>
        <div>游玩方法</div>
        <div class="button"><a href="AIVsPlayer.html">单人AI对战</a></div>
        <div class="button"><a href="LocalPlayerVsPlayer.html">本地双人对战</a></div>
        <div class="button">在线双人对战</div>
        <div class="button">在线AI对战</div>
    </footer>
    <div id="jplayer"></div>
    <script src="js/index.js"></script>
</body>
</html>